<div class="row">

  <form action="/admin/generate-fake-posts" method="post" class="form-check-label">
    <h1>Create Post</h1>
    <div class="form-group">
      <input name="amount" type="number" class="form-control">
    </div>

    <button type="submit" class="btn btn-dark">Create</button>

  </form>

</div>
